body {
  font-family: sans-serif;
  background-color: #f4f8ff;
  padding: 2rem;
  color: #333;
}

#dashboard {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #275492;
  font-size: 2rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.8rem;
  text-align: left;
}

th {
  background-color: #275492;
  color: white;
}

.locked {
  color: gray;
  font-style: italic;
}

input[type="text"] {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #275492;
  border-radius: 6px;
}



a {
  color: #275492;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  background-color: #275492;
  color: white;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #1d3e72;
}
