* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
}

#login-section {
  background-color: white;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  text-align: center;
}

#login-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #275492;
}

#login-section input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 2px solid #b5b1b1;
  border-radius: 10px;
  font-size: 1.5rem;
}

#login-section button {
  background-color: white;
  color: #275492;
  border: 2px solid #275492;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  width: 100%;
}

#login-section button:hover {
  background-color: #f0f4fa;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Адаптация под мобильные устройства */
@media (max-width: 399px) {
  body {
    padding: 2rem 1rem;
    align-items: center;
  }

  #login-section {
    padding: 1.5rem 1rem;
  }

  #login-section h2 {
    font-size: 1.5rem;
  }

  #login-section input,
  #login-section button {
    font-size: 1rem;
    padding: 0.75rem;
  }
}
